<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bs_pagination/jquery.bs_pagination.min.css"/>
	<script type="text/javascript" src="/jquery/jquery-1.11.1-min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/jquery/bs_pagination/jquery.bs_pagination.min.js"></script>
	<script type="text/javascript" src="/jquery/bs_pagination/en.js"></script>
	<script type="text/javascript" src="../../jquery/vue.min.js"></script>
	<script type="text/javascript" src="../../jquery/axios.min.js"></script>
</head>
<body>
<script type="text/javascript">

	//默认情况下取消和保存按钮是隐藏的
	var cancelAndSaveBtnDefault = true;
	var contactId = location.search.split("=")[1];
	$(function(){
		var vue = new Vue({
			el : "#work_area",
			data : {
				//请求结果
				result : {},
				//用户集合
				users : [],
				//称呼集合
				appels : [],
				//来源集合
				sources : [],
				//客户集合
				customers : [],
				//联系人
				contact :{},
				//用于接受单个联系人
				editResult : {},
				//用于修改联系人
				editContact : {},
				//添加备注
				addRemark : {},
				//备注集合
				remarks : {},
				//修改备注
				editRemark : {},
				//搜索条件
				searchLimit : "",
				//分页结果
				pageResult : {},
				//分页信息
				pageInfo : {
					start : 1,
					count : 5
				},
				//关联集合
				relations : [],
				//解除关联
				deleteRelation : {},
			},
			methods : {
				//交互事件
				showSub : function () {
					if(cancelAndSaveBtnDefault){
						$("#remarkDiv").css("height","130px");
						$("#cancelAndSaveBtn").show("2000");
						cancelAndSaveBtnDefault = false;
					}
				},
				hideSub : function () {
					$("#cancelAndSaveBtn").hide();
					$("#remarkDiv").css("height","90px");
					cancelAndSaveBtnDefault = true;
				},
				//编辑、删除按钮显示切换
				showBtn : function (event) {
					$(event.target).children("div").children("div").show();
				},
				hideBtn : function(event){
					$(event.target).children("div").children("div").hide();
				},
				//按钮颜色切换
				showred : function (event) {
					$(event.target).css("color","red");
				},
				showgray : function (event) {
					$(event.target).css("color","#E6E6E6");
				},
				//选择框事件
				checkAll : function(){
					$(".checks").prop("checked", $("#checkAll").prop("checked"));
				},
				checks : function(){
					$("#checkAll").prop("checked", $(".checks").size() == $(".checks:checked").size());
				},
				//查询初始数据
				listMsg : function () {
					var uri = "/contact/listMsg";
					var self = this;
					axios.get(uri).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.users = self.result.data.users;
							self.appels = self.result.data.appels;
							self.sources = self.result.data.sources;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//获取联系人对象
				getCt : function () {
					var uri = "/contact/getById";
					var data = "id=" + contactId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.editResult = self.result.data;
							self.contact = self.editResult.contact;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//修改联系人对象
				editCt : function () {
					this.listMsg();
					this.editContact = JSON.parse(JSON.stringify(this.contact));
					$("#editContactsModal").modal("show");
				},
				//动态查询客户
				listCtm : function(){
					var uri ="/contact/listCustomer?name=" + this.editResult.customername;
					var self = this;
					axios.get(uri).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.customers = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//提交修改
				updateCt : function () {
					this.editContact.customerid = this.editResult.customername;
					this.editContact.nextcontacttime = $("#create-nextContactTime").val();
					var uri = "/contact/update";
					var data = this.editContact;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#editContactsModal").modal("hide");
							self.getCt();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//删除联系人
				deleteCt : function () {
					if(!confirm("确认删除？")){
						return;
					}
					var ids = new Array();
					ids.push(this.contact.id);
					var uri = "/contact/delete";
					var data = ids;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							window.history.back();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//添加备注
				addRk : function () {
					this.addRemark.contactsid = this.contact.id;
					var uri = "/contactRemark/add";
					var data = this.addRemark;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.listRk();
							self.addRemark = {};
							self.hideSub();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//查询备注集合
				listRk : function () {
					var uri = "/contactRemark/list";
					var data = "id=" + contactId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.remarks = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//修改备注
				editRk : function (remark) {
					this.editRemark = JSON.parse(JSON.stringify(remark));
					$("#editRemarkModal").modal("show");
				},
				//提交修改
				updateRk : function () {
					var uri = "/contactRemark/update";
					var data = this.editRemark
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#editRemarkModal").modal("hide");
							self.listRk();
						}else{
							alert(self.result.msg)
						}
					})
				},
				//删除备注
				deleteRk : function (id, index) {
					if(!confirm("确认删除？")){
						return;
					}
					var uri = "/contactRemark/delete";
					var data = "id=" + id;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.remarks.splice(index, 1);
						}else{
							alert(self.result.msg);
						}
					})
				},
				//点击关联市场的按钮
				linkAct :function(){
					this.listAct(this.pageInfo.start, this.pageInfo.count);
					$("#bundModal").modal("show");
				},
				//关联市场活动列表
				listAct : function (start, count) {
					var ids = new Array();
					if(this.relations != null) {
						for (var i = 0; i < this.relations.length; i++) {
							ids.push(this.relations[i].id);
						}
					}
					var url = "/contactRemark/listAct";
					var data = "data=" + this.searchLimit +
							"&ids=" + ids +
							"&start=" + start +
							"&count=" + count;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.pageResult = self.result.data;
							var total = self.pageResult.total;
							var totalPage = total % count == 0 ? total / count : parseInt(total / count) + 1;
							$("#activityPage").bs_pagination({
								currentPage: start,
								rowsPerPage: count,
								maxRowsPerPage: 20,
								totalPages: totalPage,
								totalRows: total,
								visiblePageLinks: 3,
								showRowsPerPage: true,
								showGoToPage: true,
								showRowsInfo: true,
								showRowsDefaultInfo: false,
								onChangePage: function (event, obj) {
									self.pageInfo.start = obj.currentPage;
									self.pageInfo.count = obj.rowsPerPage;
									self.listAct(obj.currentPage, obj.rowsPerPage);
								}
							});
						}else{
							alert(self.result.msg);
						}
					})
				},
				//添加关联
				addRt : function () {
					if($(".checks:checked").size() == 0){
						alert("请选择要关联的市场活动");
						return;
					}
					var ids = new Array();
					$(".checks:checked").each(function () {
						ids.push($(this).val());
					})
					var uri = "/contactRemark/addRelation";
					var data = "ids=" + ids + "&id=" + contactId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#bundModal").modal("hide");
							self.listRts();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//查询关联集合
				listRts : function () {
					var uri = "/contactRemark/listRelations";
					var data = "id=" + contactId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.relations = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//跳转市场活动详情
				showActivity : function (id) {
					window.location.href="../activity/detail.html?id=" + id;
				},
				//解除关联按钮
				deleteRt : function (id, index) {
					this.deleteRelation.id = id;
					this.deleteRelation.index = index;
					$("#unbundActivityModal").modal("show");
				},
				submitDelRt : function () {
					var uri = "/contactRemark/deleteRelation";
					var data = "ActId=" + this.deleteRelation.id +
							"&CtId=" + contactId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#unbundActivityModal").modal("hide");
							self.relations.splice(self.deleteRelation.index, 1);
						}else{
							alert(self.result.msg);
						}
					})
				}
			},
			mounted : function () {
				this.getCt();
				this.listRk();
				this.listRts();
				$(".time").datetimepicker({
					minView: "month",
					language: "zh-CN",
					format: "yyyy-mm-dd",
					autoclose: true,
					todayBtn: true,
					pickerPosition: "bottom-left"
				});
			}
		})
	});
</script>

<div id="work_area">
	<!-- 解除联系人和市场活动关联的模态窗口 -->
	<div class="modal fade" id="unbundActivityModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 30%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">解除关联</h4>
				</div>
				<div class="modal-body">
					<p>您确定要解除该关联关系吗？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-danger" @click="submitDelRt()">解除</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 联系人和市场活动关联的模态窗口 -->
	<!-- 关联市场活动的模态窗口 -->
	<div class="modal fade" id="bundModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 80%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">关联市场活动</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group" style="position: relative; top: 18%; left: 8px;">
						<form class="form-inline" role="form">
							<div class="form-group has-feedback">
								<input type="text" class="form-control" style="width: 300px;" placeholder="请输入市场活动名称，支持模糊查询" v-model="searchLimit" @blur="listAct(pageInfo.start, pageInfo.count)">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</form>
					</div>
					<table class="table table-hover" style="width: 900px; position: relative;top: 10px;">
						<thead>
						<tr style="color: #B3B3B3;">
							<td><input type="checkbox" id="checkAll" @click="checkAll()"/></td>
							<td>名称</td>
							<td>开始日期</td>
							<td>结束日期</td>
							<td>所有者</td>
							<td></td>
						</tr>
						</thead>
						<tbody>
						<tr v-for="activity in pageResult.rows">
							<td><input type="checkbox" class="checks" :value="activity.id" @click="checks()"/></td>
							<td>{{activity.name}}</td>
							<td>{{activity.startdate}}</td>
							<td>{{activity.enddate}}</td>
							<td>{{activity.ownername}}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div id="activityPage"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" @click="addRt()">关联</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改联系人的模态窗口 -->
	<div class="modal fade" id="editContactsModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel1">修改联系人</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">

						<div class="form-group">
							<label for="edit-contactsOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="edit-contactsOwner" v-model="editContact.owner">
									<option v-for="user in users" :value="user.id">{{user.name}}</option>
								</select>
							</div>
							<label for="edit-clueSource1" class="col-sm-2 control-label">来源</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="edit-clueSource1" v-model="editContact.source">
									<option></option>
									<option v-for="source in sources" :value="source.id">{{source.value}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="edit-surname" class="col-sm-2 control-label">姓名<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="edit-surname" v-model="editContact.fullname">
							</div>
							<label for="edit-call" class="col-sm-2 control-label">称呼</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="edit-call" v-model="editContact.appellation">
									<option></option>
									<option v-for="appel in appels" :value="appel.id">{{appel.value}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="edit-job" class="col-sm-2 control-label">职位</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="edit-job" v-model="editContact.job">
							</div>
							<label for="edit-mphone" class="col-sm-2 control-label">手机</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="edit-mphone" v-model="editContact.mphone">
							</div>
						</div>

						<div class="form-group">
							<label for="edit-email" class="col-sm-2 control-label">邮箱</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="edit-email" v-model="editContact.email">
							</div>
							<label for="edit-birth" class="col-sm-2 control-label">生日</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control time" id="edit-birth" v-model="editContact.birth">
							</div>
						</div>

						<div class="form-group">
							<label for="edit-customerName" class="col-sm-2 control-label">客户名称</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="edit-customerName" @input="listCtm()" placeholder="支持自动补全，输入客户不存在则新建" v-model="editResult.customername" list="edit-showCtm">
								<datalist id="edit-showCtm">
									<option v-for="customer in customers" :value="customer.name">{{customer.name}}</option>
								</datalist>
							</div>
						</div>

						<div class="form-group">
							<label for="edit-describe" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="edit-describe" v-model="editContact.description">这是一条线索的描述信息</textarea>
							</div>
						</div>

						<div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

						<div style="position: relative;top: 15px;">
							<div class="form-group">
								<label for="create-contactSummary" class="col-sm-2 control-label">联系纪要</label>
								<div class="col-sm-10" style="width: 81%;">
									<textarea class="form-control" rows="3" id="create-contactSummary" v-model="editContact.contactsummary"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="create-nextContactTime" class="col-sm-2 control-label">下次联系时间</label>
								<div class="col-sm-10" style="width: 300px;">
									<input type="text" class="form-control time" id="create-nextContactTime" v-model="editContact.nextcontacttime">
								</div>
							</div>
						</div>

						<div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

						<div style="position: relative;top: 20px;">
							<div class="form-group">
								<label for="edit-address2" class="col-sm-2 control-label">详细地址</label>
								<div class="col-sm-10" style="width: 81%;">
									<textarea class="form-control" rows="1" id="edit-address2" v-model="editContact.address"></textarea>
								</div>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" @click="updateCt()">更新</button>
				</div>
			</div>
		</div>
	</div>

	<!--用于修改客户备注的模态窗口-->
	<div class="modal fade" id="editRemarkModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 40%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" >修改备注</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="edit-describe" class="col-sm-2 control-label">内容</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" v-model="editRemark.notecontent"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateRemarkBtn" @click="updateRk()">更新</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<h3>{{contact.fullname}}{{editResult.appelname}} <small> - {{editResult.customername}}</small></h3>
		</div>
		<div style="position: relative; height: 50px; width: 500px;  top: -72px; left: 700px;">
			<button type="button" class="btn btn-default" @click="editCt()"><span class="glyphicon glyphicon-edit"></span> 编辑</button>
			<button type="button" class="btn btn-danger" @click="deleteCt()"><span class="glyphicon glyphicon-minus"></span> 删除</button>
		</div>
	</div>
	
	<!-- 详细信息 -->
	<div style="position: relative; top: -70px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">所有者</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{editResult.ownername}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">来源</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{editResult.sourcename}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">客户名称</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{editResult.customername}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">姓名</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{contact.fullname}}{{editResult.appelname}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">邮箱</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{contact.email}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">手机</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{contact.mphone}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">职位</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{contact.job}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">生日</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{contact.birth}}&nbsp;</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 40px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{editResult.createname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{contact.createtime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 50px;">
			<div style="width: 300px; color: gray;">修改者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{editResult.editname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{contact.edittime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 60px;">
			<div style="width: 300px; color: gray;">描述</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{contact.description}}
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 70px;">
			<div style="width: 300px; color: gray;">联系纪要</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{contact.contactsummary}}
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 80px;">
			<div style="width: 300px; color: gray;">下次联系时间</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{contact.nextcontacttime}}&nbsp;</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
        <div style="position: relative; left: 40px; height: 30px; top: 90px;">
            <div style="width: 300px; color: gray;">详细地址</div>
            <div style="width: 630px;position: relative; left: 200px; top: -20px;">
                <b>
					{{contact.address}}
                </b>
            </div>
            <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
	</div>
	<!-- 备注 -->
	<div style="position: relative; top: 20px; left: 40px;">
		<div class="page-header">
			<h4>备注</h4>
		</div>
		<div class="remarkDiv" style="height: 60px;" @mouseenter="showBtn($event)" @mouseleave="hideBtn($event)" v-for="(remark, index) in remarks">
			<img :title="remark.editflag == '0' ? remark.createby : remark.editby" src="../../image/user-thumbnail.png" style="width: 30px; height:30px;">
			<div style="position: relative; top: -40px; left: 40px;" >
				<h5>{{remark.notecontent}}</h5>
				<font color="gray">联系人</font> <font color="gray">-</font> <b>{{contact.fullname}}{{editResult.appelname}}-{{editResult.customername}}</b>
				<small style="color: gray;" v-if="remark.editflag=='0'"> {{remark.createtime}} 由{{remark.createby}}创建</small>
				<small style="color: gray;" v-else> {{remark.edittime}} 由{{remark.editby}}编辑</small>
				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
					<a class="myHref" href="javascript:void(0);" @click="editRk(remark)"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)"></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="myHref" href="javascript:void(0);" @click="deleteRk(remark.id, index)"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)"></span></a>
				</div>
			</div>
		</div>
		
		<div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
			<form role="form" style="position: relative;top: 10px; left: 10px;">
				<textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"  placeholder="添加备注..." @focus="showSub()" v-model="addRemark.notecontent"></textarea>
				<p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
					<button id="cancelBtn" type="button" class="btn btn-default" @click="hideSub()">取消</button>
					<button type="button" class="btn btn-primary" @click="addRk()">保存</button>
				</p>
			</form>
		</div>
	</div>
	
	<!-- 交易 -->
	<div>
		<div style="position: relative; top: 20px; left: 40px;">
			<div class="page-header">
				<h4>交易</h4>
			</div>
			<div style="position: relative;top: 0px;">
				<table id="activityTable3" class="table table-hover" style="width: 900px;">
					<thead>
						<tr style="color: #B3B3B3;">
							<td>名称</td>
							<td>金额</td>
							<td>阶段</td>
							<td>可能性</td>
							<td>预计成交日期</td>
							<td>类型</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="../transaction/detail.html" style="text-decoration: none;">动力节点-交易01</a></td>
							<td>5,000</td>
							<td>谈判/复审</td>
							<td>90</td>
							<td>2017-02-07</td>
							<td>新业务</td>
							<td><a href="javascript:void(0);" data-toggle="modal" data-target="#unbundModal" style="text-decoration: none;"><span class="glyphicon glyphicon-remove"></span>删除</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div>
				<a href="../transaction/save.html" style="text-decoration: none;"><span class="glyphicon glyphicon-plus"></span>新建交易</a>
			</div>
		</div>
	</div>
	
	<!-- 市场活动 -->
	<div>
		<div style="position: relative; top: 60px; left: 40px;">
			<div class="page-header">
				<h4>市场活动</h4>
			</div>
			<div style="position: relative;top: 0px;">
				<table id="activityTable" class="table table-hover" style="width: 900px;">
					<thead>
						<tr style="color: #B3B3B3;">
							<td>名称</td>
							<td>开始日期</td>
							<td>结束日期</td>
							<td>所有者</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(relation, index) in relations">
							<td><a href="#" @click="showActivity(relation.id)" style="text-decoration: none;">{{relation.name}}</a></td>
							<td>{{relation.startdate}}</td>
							<td>{{relation.enddate}}</td>
							<td>{{relation.owner}}</td>
							<td><a href="javascript:void(0)" @click="deleteRt(relation.id, index)" style="text-decoration: none;"><span class="glyphicon glyphicon-remove"></span>解除关联</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div>
				<a href="javascript:void(0);"@click="linkAct()" style="text-decoration: none;"><span class="glyphicon glyphicon-plus"></span>关联市场活动</a>
			</div>
		</div>
	</div>
	<div style="height: 200px;"></div>
</div>
</body>
</html>