<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/jquery/jquery-1.11.1-min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="../../jquery/vue.min.js"></script>
	<script type="text/javascript" src="../../jquery/axios.min.js"></script>
</head>
<body>
<script type="text/javascript">
	//默认情况下取消和保存按钮是隐藏的
	var cancelAndSaveBtnDefault = true;
	var ctmId = location.search.split("=")[1];
	var url = "/customerRemark";
	$(function(){
		var vue = new Vue({
			el : "#work_area",
			data : {
				//返回结果信息
				result : {},
				//客户信息
				customer : {},
				//修改客户
				editCustomer : {},
				//用户集合
				users : [],
				//添加备注
				addRemark : {},
				//全部备注集合
				remarks : [],
				//修改备注
				editRemark : {},
				//来源
				sources :[],
				//称呼
				appels : [],
				//用于创建联系人
				addContact : {},
				//联系人集合
				contacts : [],
				//用于删除联系人
				deleteContact : {},
				//交易集合
				trans : [],
				//用于删除交易
				delTran : {}
			},
			methods : {
				//交互事件
				showSub : function () {
					if(cancelAndSaveBtnDefault){
						$("#remarkDiv").css("height","130px");
						$("#cancelAndSaveBtn").show("2000");
						cancelAndSaveBtnDefault = false;
					}
				},
				hideSub : function () {
					$("#cancelAndSaveBtn").hide();
					$("#remarkDiv").css("height","90px");
					cancelAndSaveBtnDefault = true;
				},
				//编辑、删除按钮显示切换
				showBtn : function (event) {
					$(event.target).children("div").children("div").show();
				},
				hideBtn : function(event){
					$(event.target).children("div").children("div").hide();
				},
				//按钮颜色切换
				showred : function (event) {
					$(event.target).css("color","red");
				},
				showgray : function (event) {
					$(event.target).css("color","#E6E6E6");
				},
				//跳转
				jump : function(url){
					window.open("http://"+url);
				},
				//查询用户集合
				listUser : function(){
					var uri = "/customer/listUsers";
					var self = this;
					axios.get(uri).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.users = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//查询客户信息
				selectCtm : function () {
					var uri = "/customer/edit";
					var data = "id=" + ctmId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.customer = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//修改客户信息
				editCtm : function f() {
					this.listUser();
					this.editCustomer = JSON.parse(JSON.stringify(this.customer));
					$("#editCustomerModal").modal("show");
				},
				//提交修改
				updateCtm : function () {
					this.editCustomer.nextcontacttime = $("#create-nextContactTime2").val();
					var uri = "/customer/update";
					var data = this.editCustomer;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#editCustomerModal").modal("hide");
							self.selectCtm();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//删除客户
				deleteCtm : function () {
					if(!confirm("确认删除？")){
						return;
					}
					var ids = new Array();
					ids.push(ctmId);
					var uri = "/customer/delete";
					var self = this;
					axios.post(uri, ids).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							window.history.back();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//添加备注
				addRk : function () {
					this.addRemark.customerid = ctmId;
					var uri = url + "/add";
					var data = this.addRemark;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.addRemark = {};
							self.hideSub();
							self.listRk();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//查询该客户下全部备注
				listRk : function () {
					var uri = url + "/list";
					var data = "id=" + ctmId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.remarks = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//修改备注
				editRk : function (remark) {
					this.editRemark = JSON.parse(JSON.stringify(remark));
					$("#editRemarkModal").modal("show");
				},
				//提交修改备注
				updateRk : function(){
					var uri = url + "/update";
					var data = this.editRemark;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#editRemarkModal").modal("hide");
							self.listRk();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//删除备注
				deleteRk : function (id) {
					if(!confirm("确认删除？")){
						return;
					}
					var uri = url + "/delete";
					var data = "id=" + id;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.listRk();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//添加联系人
				addCt : function () {
					var uri = url + "/listMsg";
					var self = this;
					axios.get(uri).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.listUser();
							self.sources = self.result.data.sources;
							self.appels = self.result.data.appels;
							self.addContact.owner = self.customer.owner;
							self.addContact.customerid = self.customer.id;
							self.addContact.source = self.sources[0].id;
							self.addContact.appellation = self.appels[0].id;
							$("#createContactsModal").modal("show");
						}else{
							alert(self.result.msg);
						}
					})
				},
				//提交添加
				submitAddCt : function () {
					this.addContact.birth = $("#create-birth").val();
					this.addContact.nextcontacttime = $("#edit-nextContactTime").val();
					var uri = url + "/addContact";
					var data = this.addContact;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#createContactsModal").modal("hide");
							self.addContact = {};
							self.listCt();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//查询联系人列表
				listCt : function () {
					var uri = url + "/listContact";
					var data = "id=" + ctmId ;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.contacts = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//联系人详情展示
				showCtDetail : function (id) {
					window.location.href= "../contacts/detail.html?id=" + id;
				},
				//删除联系人
				deleteCt : function(id, index){
					this.deleteContact.id = id;
					this.deleteContact.index = index;
					$("#removeContactsModal").modal("show");
				},
				//提交删除联系人
				submitDelCt : function () {
					var uri = url + "/deleteContact";
					var data = "id=" + this.deleteContact.id;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#removeContactsModal").modal("hide");
							self.contacts.splice(self.deleteContact.index, 1);
						}else{
							alert(self.result.msg);
						}
					})
				},
				//交易列表
				listTran : function () {
					var uri = url + "/listTran";
					var data = "id=" + ctmId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.trans = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//删除交易
				deleteTran : function (id, index) {
					this.delTran.id = id;
					this.delTran.index = index;
					$("#removeTransactionModal").modal("show");
				},
				submitDelTran : function () {
					var uri = url + "/deleteTran";
					var data = "id=" + this.delTran.id;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#removeTransactionModal").modal("hide");
							self.trans.splice(self.delTran.index, 1);
						}else{
							alert(self.result.msg);
						}
					})
				},
				addTran : function () {

				}
			},
			mounted : function () {
				this.selectCtm();
				this.listRk();
				this.listCt();
				this.listTran()
				$(".time").datetimepicker({
					minView: "month",
					language: "zh-CN",
					format: "yyyy-mm-dd",
					autoclose: true,
					todayBtn: true,
					pickerPosition: "top-left"
				});
			}
		})
	});

</script>
<div id="work_area">
	<!-- 删除联系人的模态窗口 -->
	<div class="modal fade" id="removeContactsModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 30%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">删除联系人</h4>
				</div>
				<div class="modal-body">
					<p>您确定要删除该联系人吗？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-danger" @click="submitDelCt()">删除</button>
				</div>
			</div>
		</div>
	</div>

    <!-- 删除交易的模态窗口 -->
    <div class="modal fade" id="removeTransactionModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 30%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">删除交易</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要删除该交易吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" @click="submitDelTran()">删除</button>
                </div>
            </div>
        </div>
    </div>
	
	<!-- 创建联系人的模态窗口 -->
	<div class="modal fade" id="createContactsModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="$('#createContactsModal').modal('hide');">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel1">创建联系人</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
					
						<div class="form-group">
							<label for="create-contactsOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="create-contactsOwner" v-model="addContact.owner">
								  <option v-for="user in users" :value="user.id">{{user.name}}</option>
								</select>
							</div>
							<label for="create-clueSource" class="col-sm-2 control-label">来源</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="create-clueSource" v-model="addContact.source">
								  <option></option>
								  <option v-for="source in sources" :value="source.id">{{source.text}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="create-surname" class="col-sm-2 control-label">姓名<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="create-surname" v-model="addContact.fullname">
							</div>
							<label for="create-call" class="col-sm-2 control-label">称呼</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="create-call" v-model="addContact.appellation">
								  <option></option>
								  <option v-for="appel in appels" :value="appel.id">{{appel.text}}</option>
								</select>
							</div>
							
						</div>
						
						<div class="form-group">
							<label for="create-job" class="col-sm-2 control-label">职位</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="create-job" v-model="addContact.job">
							</div>
							<label for="create-mphone" class="col-sm-2 control-label">手机</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="create-mphone" v-model="addContact.mphone">
							</div>
						</div>
						
						<div class="form-group" style="position: relative;">
							<label for="create-email" class="col-sm-2 control-label">邮箱</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="create-email" v-model="addContact.email">
							</div>
							<label for="create-birth" class="col-sm-2 control-label">生日</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control time" id="create-birth">
							</div>
						</div>
						
						<div class="form-group" style="position: relative;">
							<label for="create-customerName" class="col-sm-2 control-label">客户名称</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="create-customerName" :value="customer.name" readonly>
							</div>
						</div>
						
						<div class="form-group" style="position: relative;">
							<label for="create-describe" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="create-describe" v-model="addContact.description"></textarea>
							</div>
						</div>
						
						<div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

                        <div style="position: relative;top: 15px;">
                            <div class="form-group">
                                <label for="edit-contactSummary" class="col-sm-2 control-label">联系纪要</label>
                                <div class="col-sm-10" style="width: 81%;">
                                    <textarea class="form-control" rows="3" id="edit-contactSummary" v-model="addContact.contactsummary"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-nextContactTime" class="col-sm-2 control-label">下次联系时间</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <input type="text" class="form-control time" id="edit-nextContactTime" >
                                </div>
                            </div>
                        </div>

                        <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

                        <div style="position: relative;top: 20px;">
                            <div class="form-group">
                                <label for="edit-address1" class="col-sm-2 control-label">详细地址</label>
                                <div class="col-sm-10" style="width: 81%;">
                                    <textarea class="form-control" rows="1" id="edit-address1" v-model="addContact.address"></textarea>
                                </div>
                            </div>
                        </div>
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" @click="submitAddCt()">保存</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改客户的模态窗口 -->
    <div class="modal fade" id="editCustomerModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改客户</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="edit-customerOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <select class="form-control" id="edit-customerOwner" v-model="editCustomer.owner">
                                    <option v-for="user in users" :value="user.id">{{user.name}}</option>
                                </select>
                            </div>
                            <label for="edit-customerName" class="col-sm-2 control-label">名称<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-customerName" v-model="editCustomer.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-website" class="col-sm-2 control-label">公司网站</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-website" v-model="editCustomer.website">
                            </div>
                            <label for="edit-phone" class="col-sm-2 control-label">公司座机</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-phone" v-model="editCustomer.phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-describe" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" rows="3" id="edit-describe" v-model="editCustomer.description"></textarea>
                            </div>
                        </div>

                        <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

                        <div style="position: relative;top: 15px;">
                            <div class="form-group">
                                <label for="create-contactSummary1" class="col-sm-2 control-label">联系纪要</label>
                                <div class="col-sm-10" style="width: 81%;">
                                    <textarea class="form-control" rows="3" id="create-contactSummary1" v-model="editCustomer.contactsummary"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="create-nextContactTime2" class="col-sm-2 control-label">下次联系时间</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <input type="text" class="form-control time" id="create-nextContactTime2" v-model="editCustomer.nextcontacttime">
                                </div>
                            </div>
                        </div>

                        <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

                        <div style="position: relative;top: 20px;">
                            <div class="form-group">
                                <label for="edit-address" class="col-sm-2 control-label">详细地址</label>
                                <div class="col-sm-10" style="width: 81%;">
                                    <textarea class="form-control" rows="1" id="edit-address">北京大兴大族企业湾</textarea>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="updateCtm">更新</button>
                </div>
            </div>
        </div>
    </div>

	<!--用于修改客户备注的模态窗口-->
	<div class="modal fade" id="editRemarkModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 40%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" >修改备注</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="edit-describe" class="col-sm-2 control-label">内容</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" v-model="editRemark.notecontent"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateRemarkBtn" @click="updateRk()">更新</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<h3>{{customer.name}} <small><a href="javascript:void(0)" @click="jump(customer.website)">{{customer.website}}</a></small></h3>
		</div>
		<div style="position: relative; height: 50px; width: 500px;  top: -72px; left: 700px;">
			<button type="button" class="btn btn-default" @click="editCtm()"><span class="glyphicon glyphicon-edit"></span> 编辑</button>
			<button type="button" class="btn btn-danger" @click="deleteCtm()"><span class="glyphicon glyphicon-minus"></span> 删除</button>
		</div>
	</div>
	
	<!-- 详细信息 -->
	<div style="position: relative; top: -70px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">所有者</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{customer.ownername}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">名称</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{customer.name}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">公司网站</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{customer.website}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">公司座机</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{customer.phone}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{customer.createname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{customer.createtime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">修改者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{customer.editname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{customer.edittime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
        <div style="position: relative; left: 40px; height: 30px; top: 40px;">
            <div style="width: 300px; color: gray;">联系纪要</div>
            <div style="width: 630px;position: relative; left: 200px; top: -20px;">
                <b>
                    {{customer.contactsummary}}
                </b>
            </div>
            <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 50px;">
            <div style="width: 300px; color: gray;">下次联系时间</div>
            <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{customer.nextcontacttime}}</b></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px; "></div>
        </div>
		<div style="position: relative; left: 40px; height: 30px; top: 60px;">
			<div style="width: 300px; color: gray;">描述</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{customer.description}}
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
        <div style="position: relative; left: 40px; height: 30px; top: 70px;">
            <div style="width: 300px; color: gray;">详细地址</div>
            <div style="width: 630px;position: relative; left: 200px; top: -20px;">
                <b>
                    {{customer.address}}
                </b>
            </div>
            <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
	</div>
	
	<!-- 备注 -->
	<div style="position: relative; top: 10px; left: 40px;">
		<div class="page-header">
			<h4>备注</h4>
		</div>
		<div class="remarkDiv" style="height: 60px;" @mouseenter="showBtn($event)" @mouseleave="hideBtn($event)" v-for="remark in remarks">
			<img :title="remark.createby" src="../../image/user-thumbnail.png" style="width: 30px; height:30px;">
			<div style="position: relative; top: -40px; left: 40px;">
				<h5>{{remark.notecontent}}</h5>
				<font color="gray">客户</font> <font color="gray">-</font> <b>{{customer.name}}</b>
				<small style="color: gray;" v-if="remark.editflag=='0'"> {{remark.createtime}} 由{{remark.createby}}创建</small>
				<small style="color: gray;" v-else> {{remark.edittime}} 由{{remark.editby}}编辑</small>
				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
					<a class="myHref" href="javascript:void(0);" @click="editRk(remark)"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)"></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="myHref" href="javascript:void(0);" @click="deleteRk(remark.id)"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)"></span></a>
				</div>
			</div>
		</div>
		<div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
			<form role="form" style="position: relative;top: 10px; left: 10px;">
				<textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"  placeholder="添加备注..." @focus="showSub()" v-model="addRemark.notecontent"></textarea>
				<p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
					<button id="cancelBtn" type="button" class="btn btn-default" @click="hideSub">取消</button>
					<button type="button" class="btn btn-primary" @click="addRk()">保存</button>
				</p>
			</form>
		</div>
	</div>
	
	<!-- 交易 -->
	<div>
		<div style="position: relative; top: 20px; left: 40px;">
			<div class="page-header">
				<h4>交易</h4>
			</div>
			<div style="position: relative;top: 0px;">
				<table id="activityTable2" class="table table-hover" style="width: 900px;">
					<thead>
						<tr style="color: #B3B3B3;">
							<td>名称</td>
							<td>金额</td>
							<td>阶段</td>
							<td>可能性</td>
							<td>预计成交日期</td>
							<td>类型</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(tran, index) in trans">
							<td><a href="../transaction/detail.html" style="text-decoration: none;">{{tran.name}}</a></td>
							<td>{{tran.money}}</td>
							<td>{{tran.stage}}</td>
							<td>90</td>
							<td>{{tran.expecteddate}}</td>
							<td>{{tran.type}}</td>
							<td><a href="javascript:void(0);" @click="deleteTran(tran.id, index)" style="text-decoration: none;"><span class="glyphicon glyphicon-remove"></span>删除</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div>
				<a href="../transaction/save.html" style="text-decoration: none;"><span class="glyphicon glyphicon-plus"></span>新建交易</a>
			</div>
		</div>
	</div>
	
	<!-- 联系人 -->
	<div>
		<div style="position: relative; top: 20px; left: 40px;">
			<div class="page-header">
				<h4>联系人</h4>
			</div>
			<div style="position: relative;top: 0px;">
				<table id="activityTable" class="table table-hover" style="width: 900px;">
					<thead>
						<tr style="color: #B3B3B3;">
							<td>名称</td>
							<td>邮箱</td>
							<td>手机</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(contact, index) in contacts">
							<td><a href="#" @click="showCtDetail(contact.id)" style="text-decoration: none;">{{contact.fullname}}</a></td>
							<td>{{contact.email}}</td>
							<td>{{contact.mphone}}</td>
							<td><a href="javascript:void(0);" @click="deleteCt(contact.id, index)" style="text-decoration: none;"><span class="glyphicon glyphicon-remove"></span>删除</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<a href="javascript:void(0);" @click="addCt()" style="text-decoration: none;"><span class="glyphicon glyphicon-plus"></span>新建联系人</a>
			</div>
		</div>
	</div>
	
	<div style="height: 200px;"></div>
</div>
</body>
</html>