<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/jquery/jquery-1.11.1-min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="../../jquery/vue.min.js"></script>
	<script type="text/javascript" src="../../jquery/axios.min.js"></script>
</head>
<body>
<script type="text/javascript">
    //默认情况下取消和保存按钮是隐藏的
    var cancelAndSaveBtnDefault = true;

    $(function(){
        var vue = new Vue({
            el : "#work_area",
            data : {
                users : {},
                result : {},
                activity : {},
                editAct : {},
				remarks :[],
				remark : {},
				editMk : {}
            },
            methods : {
                getAct : function (id) {
                    var data = "id=" + id;
                    var url = "/activity/edit";
                    var self = this;
                    axios.post(url, data).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200){
                            self.activity = self.result.data;
							self.listActMark(self.activity.id);
                        }else{
                            alert(self.result.msg);
                        }
                    })
                },
                editActivity : function(){
                    var url = "/activity/listUser";
                    var self = this;
                    axios.get(url).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200) {
                            self.users = self.result.data;
							self.editAct = JSON.parse(JSON.stringify(self.activity));
                            $("#editActivityModal").modal("show");
                         }else{
                            alert(self.msg);
                         }
                     })
                },
                update : function(){
					this.editAct.startdate = $("#edit-startTime").val();
					this.editAct.enddate = $("#edit-endTime").val();
                    var url = "/activity/update";
                    var data = this.editAct;
                    var self = this;
                    axios.post(url, data).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200){
                            $("#editActivityModal").modal("hide");
                            self.getAct(self.editAct.id);
                        }else{
                            alert(self.result.msg);
                        }
                    })
                },
                deleteAct : function(){
                    if(!confirm("确认删除？")){
                        return;
                    }
                    var data = [];
                    data.push(this.activity.id);
                    var url = "/activity/delete";
                    var self = this;
                    axios.post(url, data).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200){
                            window.history.back();
                        }else{
                            alert(self.result.msg);
                        }
                    })
                },
				addActMark : function(){
					this.remark.activityid = JSON.parse(JSON.stringify(this.activity.id));
					var data = this.remark;
					var url = "/activityremark/add";
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.hideBtn();
							self.remark = {};
							self.listActMark(self.activity.id);
						}else{
							alert(self.result.msg);
						}
					})
				},
                showBtn : function(){
                    if(cancelAndSaveBtnDefault){
                        $("#remarkDiv").css("height","130px");
                        $("#cancelAndSaveBtn").show("2000");
                        cancelAndSaveBtnDefault = false;
                    }if(cancelAndSaveBtnDefault){
                        $("#remarkDiv").css("height","130px");
                        $("#cancelAndSaveBtn").show("2000");
                        cancelAndSaveBtnDefault = false;
                    }
                },
                hideBtn : function(){
                    $("#cancelAndSaveBtn").hide();
                    $("#remarkDiv").css("height","90px");
                    cancelAndSaveBtnDefault = true;
                },
				showOp : function(){
					$(event.target).children("div").children("div").show();

				},
				hideOp : function(){
					$(event.target).children("div").children("div").hide();
				},
				showCor : function(event){
					$(event.target).css("color","red");
				},
				hideCor : function(event){
					$(event.target).css("color","#E6E6E6");
				},
                listActMark : function (id) {
					var url = "/activityremark/list";
					var data = "id=" + id;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.remarks = self.result.data;
						}else{
							alert(self.remark.msg);
						}
					})
                },
				editMark : function (mk) {
                	this.editMk = JSON.parse(JSON.stringify(mk));
					$("#editRemarkModal").modal("show");
				},
				clearMark : function(){
					this.editMk = {};
				},
				updateMk : function(){
                	var url = "/activityremark/update";
                	var data = this.editMk;
                	var self = this;
                	axios.post(url, data).then(function (value) {
                		self.result = value.data;
                		if(self.result.status == 200){
                			$("#editRemarkModal").modal("hide");
                			self.listActMark(self.activity.id);
						}else{
                			alert(self.result.msg);
						}
					})
				},
				deleteMk : function (id) {
					if(!confirm("确认删除该评论？")){
						return;
					}
					var url = "/activityremark/delete";
					var data = "id=" + id;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.listActMark(self.activity.id);
						}else{
							alert(self.result.msg);
						}
					})
				}
            },
            mounted : function () {
                var id = location.search.split("=")[1];
                this.getAct(id);
                $(".time").datetimepicker({
                    minView: "month",
                    language: "zh-CN",
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: true,
                    pickerPosition: "bottom-left"
                });
            }
        })
    });

</script>
<div id="work_area">
	<!-- 修改市场活动备注的模态窗口 -->
	<div class="modal fade" id="editRemarkModal" role="dialog">
		<%-- 备注的id --%>
		<input type="hidden" id="remarkId">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" >修改备注</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="edit-describe" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" rows="3"v-model="editMk.notecontent"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="clearMark()">关闭</button>
                    <button type="button" class="btn btn-primary" id="updateRemarkBtn" @click="updateMk()">更新</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改市场活动的模态窗口 -->
    <div class="modal fade" id="editActivityModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改市场活动</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="edit-marketActivityOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <select class="form-control" id="edit-marketActivityOwner" v-model="editAct.owner">
                                    <option v-for="user in users" :value="user.id">{{user.name}}</option>
                                </select>
                            </div>
                            <label for="edit-marketActivityName" class="col-sm-2 control-label">名称<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-marketActivityName" v-model="editAct.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-startTime" class="col-sm-2 control-label">开始日期</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control time" id="edit-startTime" v-model="editAct.startdate">
                            </div>
                            <label for="edit-endTime" class="col-sm-2 control-label">结束日期</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control time" id="edit-endTime" v-model="editAct.enddate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-cost" class="col-sm-2 control-label">成本</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-cost" v-model="editAct.cost">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-describe" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" rows="3" id="edit-describe">{{editAct.description}}</textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="update()">更新</button>
                </div>
            </div>
        </div>
    </div>

	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<h3>市场活动-{{activity.name}} <small>2020-10-10 ~ 2020-10-20</small></h3>
		</div>
		<div style="position: relative; height: 50px; width: 250px;  top: -72px; left: 700px;">
			<button type="button" class="btn btn-default" @click="editActivity()" data-target="#editActivityModal"><span class="glyphicon glyphicon-edit"></span> 编辑</button>
			<button type="button" class="btn btn-danger" @click="deleteAct()"><span class="glyphicon glyphicon-minus"></span> 删除</button>
		</div>
	</div>
	
	<!-- 详细信息 -->
	<div style="position: relative; top: -70px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">所有者</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{activity.ownername}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">名称</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{activity.name}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>

		<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">开始日期</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{activity.startdate}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">结束日期</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{activity.enddate}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">成本</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{activity.cost}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{activity.createname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{activity.createtime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 40px;">
			<div style="width: 300px; color: gray;">修改者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{activity.editname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{activity.edittime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 50px;">
			<div style="width: 300px; color: gray;">描述</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{activity.description}}
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
	</div>
	
	<!-- 备注 -->
	<div style="position: relative; top: 30px; left: 40px;">
		<div class="page-header">
			<h4>备注</h4>
		</div>
		
		<!-- 备注 -->
		<div class="remarkDiv" style="height: 60px;" v-for="mk in remarks" @mouseenter="showOp()" @mouseleave="hideOp()">
			<img :title="mk.createname" src="../../image/user-thumbnail.png" style="width: 30px; height:30px;">
			<div style="position: relative; top: -40px; left: 40px;" id="operation">
				<h5>{{mk.notecontent}}</h5>
                <font color="gray">市场活动</font> <font color="gray">-</font> <b>{{activity.name}}</b>
				<small style="color: gray;" v-if="mk.editflag=='0'"> {{mk.createtime}} 由 {{mk.createname}} 添加</small>
				<small style="color: gray;" v-else> {{mk.edittime}} 由 {{mk.editname}} 编辑</small>
				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none">
					<a class="myHref" href="javascript:void(0);" @mouseover="showCor($event)" @mouseout="hideCor($event)" @click="editMark(mk)"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;" ></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="myHref" href="javascript:void(0);" @mouseover="showCor($event)" @mouseout="hideCor($event)" @click="deleteMk(mk.id)"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;" ></span></a>
				</div>
			</div>
		</div>
		
		<div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
			<form role="form" style="position: relative;top: 10px; left: 10px;">
				<textarea id="remark" class="form-control" style="width: 850px; resize : none;"  @focus="showBtn()" rows="2" v-model="remark.notecontent" placeholder="添加备注..."></textarea>
				<p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
					<button id="cancelBtn" type="button" class="btn btn-default" @click="hideBtn()">取消</button>
					<button type="button" class="btn btn-primary" @click="addActMark()">保存</button>
				</p>
			</form>
		</div>
	</div>
	<div style="height: 200px;"></div>
</div>
</body>
</html>