<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/jquery/jquery-1.11.1-min.js"></script>
<script type="text/javascript" src="/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script src="../../jquery/vue.min.js"></script>
	<script src="../../jquery/axios.min.js"></script>
</head>
<body>
<script type="text/javascript">

	//默认情况下取消和保存按钮是隐藏的
	var cancelAndSaveBtnDefault = true;
    var clueId = location.search.split("=")[1];
	$(function(){
		var vue = new Vue({
			el : "#work_area",
			data : {
				//结果对象
				result : {},
				//列表显示
				clue : {},
				//编辑clue的对象
				editClue : {},
				//所有者对象集
				users : [],
				apples : {},
				states :{},
				sources : {},
				//用于添加备注的对象
				addRemark : {},
				//存储备注列表
				remarks : [],
				//用于修改备注
				editRemark : {},
				//查询活动的条件
				searchLimit : "",
				//所有活动集合
				activities : [],
                //关联集合
                relations : []
			},
			methods : {
				//提交按钮显示与隐藏切换
				showSub : function () {
					if(cancelAndSaveBtnDefault){
						$("#remarkDiv").css("height","130px");
						$("#cancelAndSaveBtn").show("2000");
						cancelAndSaveBtnDefault = false;
					}
				},
				hideSub : function () {
					$("#cancelAndSaveBtn").hide();
					$("#remarkDiv").css("height","90px");
					cancelAndSaveBtnDefault = true;
				},
				//编辑、删除按钮显示切换
				showBtn : function (event) {
					$(event.target).children("div").children("div").show();
				},
				hideBtn : function(event){
					$(event.target).children("div").children("div").hide();
				},
				//按钮颜色切换
				showred : function (event) {
					$(event.target).css("color","red");
				},
				showgray : function (event) {
					$(event.target).css("color","#E6E6E6");
				},
				//根据id获取clue对象
				getClue : function (id) {
					var url = "/clue/edit";
					var data = "id=" + id;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.clue = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//点击编辑按钮，查询需要的数据
				editCe: function () {
					var url = "/clue/listUser";
					var self = this;
					axios.get(url).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.users = self.result.data;
							self.getDic();
							self.editClue = JSON.parse(JSON.stringify(self.clue));
							$("#editClueModal").modal("show");
						}else{
							alert(self.result.msg);
						}
					})
				},
				//提交修改
				updateCe : function(){
					this.editClue.nextcontacttime = $("#edit-nextContactTime").val();
					var data = this.editClue;
					var url = "/clue/update";
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#editClueModal").modal("hide");
							self.getClue(self.clue.id);
							alert(self.edit.fullname);
						}else{
							alert(self.result.msg);
						}
					})
				},
				//获取数据字典
				getDic : function(){
					var url = "/dic/list";
					var data = "name=appellation";
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.apples = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
					data = "name=clueState"
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.states = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
					data = "name=source"
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.sources = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//删除clue
				deleteCe : function () {
					if(!confirm("确认删除？")){
						return;
					}
					var url = "/clue/delete";
					var data = [];
					data.push(this.clue.id);
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							window.history.back();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//添加clueactivity
				addRk : function(){
					if(this.addRemark.notecontent == null){
						alert("请输入数据");
						return;
					}
					this.addRemark.clueid = this.clue.id;
					var url = "/clueRemark/add";
					var data = this.addRemark;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.addRemark = {};
							self.listRk();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//获取备注列表
				listRk : function(){
					var url = "/clueRemark/list";
					var data = "id=" + clueId;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.remarks = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//修改备注
				editRk : function (remark) {
					this.editRemark = JSON.parse(JSON.stringify(remark));
					$("#editRemarkModal").modal("show");
				},
				//提交修改
				updateRk : function(){
					var url = "/clueRemark/update";
					var data = this.editRemark;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#editRemarkModal").modal("hide");
							self.listRk();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//删除备注
				deleteRk : function (id) {
					if(!confirm("确认删除？")){
						return;
					}
					var url = "/clueRemark/delete";
					var data = "id=" + id;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.listRk();
						}
					})
				},
				//新增关联
				addCAR : function () {
					this.listAct();
					$("#bundModal").modal("show");
				},
				//查询所有activity
				listAct : function () {
				    var ids = new Array();
				    for(var i = 0; i <this.relations.length; i++){
				        ids.push(this.relations[i].id);
                    }
					var url = "/clueRemark/listAct";
				    var data = "data=" + this.searchLimit + "&ids=" + ids;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.activities = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//选择框
				checkAll : function () {
					$(".checks").prop("checked", $("#checkAll").prop("checked"));
				},
				checks : function () {
					$("#checkAll").prop("checked", $(".checks").size()==$(".checks:checked").size());
				},
				//添加关联
				relating : function () {
					if($(".checks:checked").size() == 0){
						alert("请选择要关联的数据");
						return;
					}
					var acts = [];
					var clueId = this.clue.id;
					$(".checks:checked").each(function () {
						acts.push($(this).val());
					})
					var url = "/clueRemark/addRelation";
					var data = "acts=" + acts + "&clueId=" + clueId;
					var self = this;
					axios.post(url, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#bundModal").modal("hide");
							self.listRelating();
							$("#checkAll").prop("checked", false);
							$(".checks:checked").prop("checked", false);
						}else{
							alert(self.result.msg);
						}
					})
				},
                //加载关联列表
                listRelating : function () {
                    var url = "/clueRemark/listRelation";
                    var data = "id=" + clueId;
                    var self = this;
                    axios.post(url, data).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200){
                            self.relations = self.result.data;
                        }else{
                            alert(self.result.msg);
                        }
                    })
                },
                //解除关联
                disRelation : function (id) {
				    if(!confirm("确认解除关联？")){
				        return;
                    }
                    var url = "/clueRemark/deleteRelation";
                    var data = "actId=" + id + "&clueId=" + clueId;
                    var self = this;
                    axios.post(url, data).then(function (value) {
                        self.result = value.data;
                        if(self.result.status == 200){
                            self.listRelating();
                        }else{
                            alert(self.result.msg);
                        }
                    })
                },
				//转换
				convert : function () {
					window.location.href="convert.html?id=" + clueId;
				}
			},
			mounted : function () {
				this.getClue(clueId);
				this.listRk();
                this.listRelating();
			}
		})
	});

</script>
<div id="work_area">
	<!-- 关联市场活动的模态窗口 -->
	<div class="modal fade" id="bundModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 80%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">关联市场活动</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group" style="position: relative; top: 18%; left: 8px;">
						<form class="form-inline" role="form">
						  <div class="form-group has-feedback">
						    <input type="text" class="form-control" style="width: 300px;" placeholder="请输入市场活动名称，支持模糊查询" v-model="searchLimit" @blur="listAct()">
						    <span class="glyphicon glyphicon-search form-control-feedback"></span>
						  </div>
						</form>
					</div>
					<table id="activityTable" class="table table-hover" style="width: 900px; position: relative;top: 10px;">
						<thead>
							<tr style="color: #B3B3B3;">
								<td><input type="checkbox" id="checkAll" @click="checkAll()"/></td>
								<td>名称</td>
								<td>开始日期</td>
								<td>结束日期</td>
								<td>所有者</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="activity in activities">
								<td><input type="checkbox" class="checks" :value="activity.id" @click="checks()"/></td>
								<td>{{activity.name}}</td>
								<td>{{activity.startdate}}</td>
								<td>{{activity.enddate}}</td>
								<td>{{activity.ownername}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" @click="relating()">关联</button>
				</div>
			</div>
		</div>
	</div>
	<!--用于修改线索备注的模态窗口-->
	<div class="modal fade" id="editRemarkModal" role="dialog">
		<%-- 备注的id --%>
		<input type="hidden" id="remarkId">
		<div class="modal-dialog" role="document" style="width: 40%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" >修改备注</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="edit-describe" class="col-sm-2 control-label">内容</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3"v-model="editRemark.notecontent"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateRemarkBtn" @click="updateRk()">更新</button>
				</div>
			</div>
		</div>
	</div>

    <!-- 修改线索的模态窗口 -->
    <div class="modal fade" id="editClueModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改线索</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="edit-clueOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <select class="form-control" id="edit-clueOwner" v-model="editClue.owner">
                                    <option v-for="user in users" :value="user.id">{{user.name}}</option>

                                </select>
                            </div>
                            <label for="edit-company" class="col-sm-2 control-label">公司<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-company" v-model="editClue.company">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-call" class="col-sm-2 control-label">称呼</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <select class="form-control" id="edit-call" v-model="editClue.appellation">
                                    <option></option>
                                    <option v-for="(value, key) in apples" :value="value">{{value}}</option>
                                </select>
                            </div>
                            <label for="edit-surname" class="col-sm-2 control-label">姓名<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-surname" v-model="editClue.fullname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-job" class="col-sm-2 control-label">职位</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-job" v-model="editClue.job">
                            </div>
                            <label for="edit-email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-email" v-model="editClue.email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-phone" class="col-sm-2 control-label">公司座机</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-phone" v-model="editClue.phone">
                            </div>
                            <label for="edit-website" class="col-sm-2 control-label">公司网站</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-website" v-model="editClue.website">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-mphone" class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-mphone" v-model="editClue.mphone">
                            </div>
                            <label for="edit-status" class="col-sm-2 control-label">线索状态</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <select class="form-control" id="edit-status" v-model="editClue.state">
                                    <option></option>
                                    <option v-for="(value, key) in states" :value="value">{{value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-source" class="col-sm-2 control-label">线索来源</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <select class="form-control" id="edit-source" v-model="editClue.source">
                                    <option></option>
                                    <option v-for="(value, key) in sources" :value="value">{{value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-describe" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" rows="3" id="edit-describe" v-model="editClue.description"></textarea>
                            </div>
                        </div>

                        <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

                        <div style="position: relative;top: 15px;">
                            <div class="form-group">
                                <label for="edit-contactSummary" class="col-sm-2 control-label">联系纪要</label>
                                <div class="col-sm-10" style="width: 81%;">
                                    <textarea class="form-control" rows="3" id="edit-contactSummary" v-model="editClue.contactsummary"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-nextContactTime" class="col-sm-2 control-label">下次联系时间</label>
                                <div class="col-sm-10" style="width: 300px;">
                                    <input type="text" class="form-control" id="edit-nextContactTime" value="2017-05-01" v-model="editClue.nextcontacttime">
                                </div>
                            </div>
                        </div>

                        <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

                        <div style="position: relative;top: 20px;">
                            <div class="form-group">
                                <label for="edit-address" class="col-sm-2 control-label">详细地址</label>
                                <div class="col-sm-10" style="width: 81%;">
                                    <textarea class="form-control" rows="1" id="edit-address" v-model="editClue.address"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="updateCe()">更新</button>
                </div>
            </div>
        </div>
    </div>

	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<h3>{{clue.fullname}}<small>{{clue.company}}</small></h3>
		</div>
		<div style="position: relative; height: 50px; width: 500px;  top: -72px; left: 700px;">
			<button type="button" class="btn btn-default" @click="convert()"><span class="glyphicon glyphicon-retweet"></span> 转换</button>
			<button type="button" class="btn btn-default" @click="editCe()" data-target="#editClueModal"><span class="glyphicon glyphicon-edit"></span> 编辑</button>
			<button type="button" class="btn btn-danger" @click="deleteCe()"><span class="glyphicon glyphicon-minus"></span> 删除</button>
		</div>
	</div>
	
	<!-- 详细信息 -->
	<div style="position: relative; top: -70px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">名称</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{clue.fullname}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">所有者</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{clue.ownername}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
	<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">公司</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{clue.company}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">职位</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{clue.job}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">邮箱</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{clue.email}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">公司座机</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{clue.phone}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">公司网站</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{clue.website}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">手机</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{clue.mphone}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 40px;">
			<div style="width: 300px; color: gray;">线索状态</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{clue.state}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">线索来源</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{clue.source}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 50px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{clue.createname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{clue.createtime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 60px;">
			<div style="width: 300px; color: gray;">修改者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{clue.editname}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{clue.edittime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 70px;">
			<div style="width: 300px; color: gray;">描述信息</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{clue.description}}
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 80px;">
			<div style="width: 300px; color: gray;">联系概要</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{clue.contactsummary}}
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 90px;">
			<div style="width: 300px; color: gray;">下次联系时间</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{clue.nextcontacttime}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px; "></div>
		</div>
        <div style="position: relative; left: 40px; height: 30px; top: 100px;">
            <div style="width: 300px; color: gray;">详细地址</div>
            <div style="width: 630px;position: relative; left: 200px; top: -20px;">
                <b>
                   {{clue.address}}
                </b>
            </div>
            <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
	</div>
	
	<!-- 备注 -->
	<div style="position: relative; top: 40px; left: 40px;">
		<div class="page-header">
			<h4>备注</h4>
		</div>
		<div class="remarkDiv" style="height: 60px;" @mouseenter="showBtn($event)"  @mouseleave="hideBtn($event)" v-for="remark in remarks">
			<img :title="remark.createname" src="../../image/user-thumbnail.png" style="width: 30px; height:30px;">
			<div style="position: relative; top: -40px; left: 40px;" >
				<h5>{{remark.notecontent}}</h5>
				<font color="gray">线索</font> <font color="gray">-</font> <b>{{clue.fullname}}{{clue.appellation}}-{{clue.company}}</b>
				<small style="color: gray;" v-if="remark.editflag=='0'"> {{remark.createtime}} 由{{remark.createname}}编辑</small>
				<small style="color: gray;" v-else> {{remark.edittime}} 由{{remark.editname}}修改</small>
				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
					<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)" @click="editRk(remark)"></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)" @click="deleteRk(remark.id)"></span></a>
				</div>
			</div>
		</div>
		
		<div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
			<form role="form" style="position: relative;top: 10px; left: 10px;">
				<textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"  placeholder="添加备注..." @focus="showSub()" v-model="addRemark.notecontent"></textarea>
				<p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
					<button id="cancelBtn" type="button" class="btn btn-default" @click="hideSub()">取消</button>
					<button type="button" class="btn btn-primary" @click="addRk()">保存</button>
				</p>
			</form>
		</div>
	</div>
	
	<!-- 市场活动 -->
	<div>
		<div style="position: relative; top: 60px; left: 40px;">
			<div class="page-header">
				<h4>市场活动</h4>
			</div>
			<div style="position: relative;top: 0px;">
				<table class="table table-hover" style="width: 900px;">
					<thead>
						<tr style="color: #B3B3B3;">
							<td>名称</td>
							<td>开始日期</td>
							<td>结束日期</td>
							<td>所有者</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="relation in relations">
							<td>{{relation.name}}</td>
							<td>{{relation.createdate}}</td>
							<td>{{relation.enddate}}</td>
							<td>{{relation.ownername}}</td>
							<td><a href="javascript:void(0);"  style="text-decoration: none;" @click="disRelation(relation.id)"><span class="glyphicon glyphicon-remove"></span>解除关联</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div>
				<a href="javascript:void(0);" data-target="#bundModal" style="text-decoration: none;" @click="addCAR()"><span class="glyphicon glyphicon-plus"></span>关联市场活动</a>
			</div>
		</div>
	</div>
	
	
	<div style="height: 200px;"></div>
</div>
</body>
</html>