<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bs_pagination/jquery.bs_pagination.min.css"/>
	<script type="text/javascript" src="/jquery/jquery-1.11.1-min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/jquery/bs_pagination/jquery.bs_pagination.min.js"></script>
	<script type="text/javascript" src="/jquery/bs_pagination/en.js"></script>
	<script type="text/javascript" src="../../jquery/vue.min.js"></script>
	<script type="text/javascript" src="../../jquery/axios.min.js"></script>
<style type="text/css">
.mystage{
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.closingDate{
	font-size : 15px;
	cursor: pointer;
	vertical-align: middle;
}
</style>
</head>

<body>
<script type="text/javascript">

	//默认情况下取消和保存按钮是隐藏的
	var cancelAndSaveBtnDefault = true;
	var tranId = location.search.split("=")[1];
	var url = "/tran";
	$(function(){
		var vue = new Vue({
			el : "#work_area",
			data : {
				//请求结果信息
				result : {},
				//当前交易
				tran : {},
				//交易信息
				tranMap : {},
				//交易历史集合
				histories : [],
				//添加备注
				addRemark : {},
				//备注集合
				remarks : [],
				//编辑备注
				editRemark : {},
				//阶段集合
				stages : [],
				//交易阶段排序
				tranNo : "",
			},
			methods : {
				//交互
				//提交按钮显示与隐藏切换
				showSub : function () {
					if(cancelAndSaveBtnDefault){
						$("#remarkDiv").css("height","130px");
						$("#cancelAndSaveBtn").show("2000");
						cancelAndSaveBtnDefault = false;
					}
				},
				hideSub : function () {
					$("#cancelAndSaveBtn").hide();
					$("#remarkDiv").css("height","90px");
					cancelAndSaveBtnDefault = true;
				},
				//编辑、删除按钮显示切换
				showBtn : function (event) {
					$(event.target).children("div").children("div").show();
				},
				hideBtn : function(event){
					$(event.target).children("div").children("div").hide();
				},
				//按钮颜色切换
				showred : function (event) {
					$(event.target).css("color","red");
				},
				showgray : function (event) {
					$(event.target).css("color","#E6E6E6");
				},
				//获取交易信息
				getTran : function () {
					var uri = url + "/getById";
					var data = "id=" + tranId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.tranMap = self.result.data;
							self.tran = self.tranMap.tran;
						}else{
							alert(self.result.msg)
						}
					})
				},
				//获取交易历史
				listTranHistory : function () {
					var uri = url + "/listHistory";
					var data = "id=" + tranId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.histories = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//添加备注
				addRk : function () {
					if($.trim(this.addRemark.notecontent) == null){
						alert("请输入备注内容");
						return;
					}
					this.addRemark.tranid = tranId;
					var uri = url + "/addRemark";
					var data = this.addRemark;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.addRemark = {};
							self.hideSub();
							self.listRk();
						}
					})
				},
				//查询备注集合
				listRk : function () {
					var uri = url + "/listRemark";
					var data = "id=" + tranId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.remarks = self.result.data;
						}else{
							alert(self.result.msg);
						}
					})
				},
				//编辑备注
				editRk : function (remark) {
					this.editRemark = JSON.parse(JSON.stringify(remark));
					$("#editTranModal").modal("show");
				},
				//提交编辑
				updateRk : function(){
					var uri = url + "/updateRemark";
					var data = this.editRemark;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							$("#editTranModal").modal("hide");
							self.listRk();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//删除备注
				deleteRk : function (id, index) {
					if(!confirm("确认删除？")){
						return;
					}
					var uri = url + "/deleteRemark";
					var data = "id=" + id;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.remarks.splice(index, 1);
						}else{
							alert(self.result.msg);
						}
					})
				},
				//编辑
				edit : function () {
					window.location.href="edit.html?id=" + tranId;
				},
				//删除
				deleteTran : function(){
					if(!confirm("确认删除？")){
						return;
					}
					var ids = new Array();
					ids.push(tranId);
					var uri = url + "/delete";
					var data = ids;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							window.history.back();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//获取阶段列表
				getStage : function () {
					var uri = url + "/listStage";
					var self = this;
					axios.get(uri).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.stages = self.result.data;
							self.setNowStageOrder();
						}else{
							alert(self.result.msg);
						}
					})
				},
				//设置当前交易阶段的顺序
				setNowStageOrder : function () {
					for(var stage in this.stages){
						if(this.stages[stage].id == this.tran.stage){
							this.tranNo = this.stages[stage].orderno;
							break;
						}
					}
				},
				//更新
				update : function (stageid) {
					if(stageid == this.tran.stage){
						return;
					}
					this.tran.stage = stageid;
					var uri = url + "/updateStage";
					var data  = this.tran;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value. data;
						if(self.result.status == 200){
							self.getTran();
							self.listTranHistory();
							self.setNowStageOrder();
						}else{
							alert(self.result.msg)
						}
					})
				},
				//添加事件
				addEvent : function () {
					$(".mystage").popover({
						trigger:'manual',
						placement : 'bottom',
						html: 'true',
						animation: false
					}).on("mouseenter", function () {
						var _this = this;
						$(this).popover("show");
						$(this).siblings(".popover").on("mouseleave", function () {
							$(_this).popover('hide');
						});
					}).on("mouseleave", function () {
						var _this = this;
						setTimeout(function () {
							if (!$(".popover:hover").length) {
								$(_this).popover("hide")
							}
						}, 100);
					});
				}

			},
			mounted : function () {
					this.getTran();
					this.listTranHistory();
					this.listRk();
					this.getStage();
			}
		})
	});
</script>
<div id="work_area">
	<!--用于修改备注的模态窗口-->
	<div class="modal fade" id="editTranModal" role="dialog">
		<%-- 备注的id --%>
		<input type="hidden" id="remarkId">
		<div class="modal-dialog" role="document" style="width: 40%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" >修改备注</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">内容</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" v-model="editRemark.notecontent"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateRemarkBtn" @click="updateRk()">更新</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<h3>{{tran.name}} <small>￥{{tran.money}}</small></h3>
		</div>
		<div style="position: relative; height: 50px; width: 250px;  top: -72px; left: 700px;">
			<button type="button" class="btn btn-default" @click="edit()"><span class="glyphicon glyphicon-edit"></span> 编辑</button>
			<button type="button" class="btn btn-danger" @click="deleteTran()"><span class="glyphicon glyphicon-minus"></span> 删除</button>
		</div>
	</div>

	<!-- 阶段状态 -->
	<div style="position: relative; left: 40px; top: -50px;" id="show-stage">
		阶段&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span v-for="stage in stages" @mouseenter="addEvent()">
			<span v-if="stage.orderno < tranNo" class="glyphicon glyphicon-ok-circle mystage" data-toggle="popover" data-placement="bottom" :data-content="stage.text" style="color: #90F790;" @click="update(stage.id)"></span>
			<span v-else-if="stage.orderno == tranNo" class="glyphicon glyphicon-map-marker mystage" data-toggle="popover" data-placement="bottom" :data-content="stage.text" style="color: #90F790;" @click="update(stage.id)"></span>
			<span v-else class="glyphicon glyphicon-record mystage" data-toggle="popover" data-placement="bottom" :data-content="stage.text" @click="update(stage.id)"></span>
		-----------
		</span>
		<span class="closingDate">{{tran.expecteddate}}</span>
	</div>
	
	<!-- 详细信息 -->
	<div style="position: relative; top: 0px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">所有者</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{tranMap.owner}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">金额</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{tran.money}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">名称</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{tran.name}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">预计成交日期</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{tran.expecteddate}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">客户名称</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{tranMap.customer}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">阶段</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{tranMap.stage}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">类型</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{tranMap.type}}&nbsp</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">可能性</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{tranMap.possible}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 40px;">
			<div style="width: 300px; color: gray;">来源</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b>{{tranMap.source}}</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">市场活动源</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b>{{tranMap.activity}}</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 50px;">
			<div style="width: 300px; color: gray;">联系人名称</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{tranMap.contact}}</b></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 60px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{tranMap.create}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{tran.createtime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 70px;">
			<div style="width: 300px; color: gray;">修改者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{tranMap.edit}}&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;">{{tran.edittime}}</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 80px;">
			<div style="width: 300px; color: gray;">描述</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{tran.description}}
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 90px;">
			<div style="width: 300px; color: gray;">联系纪要</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b>
					{{tran.contactsummary}}&nbsp;
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 100px;">
			<div style="width: 300px; color: gray;">下次联系时间</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b>{{tran.nextcontacttime}}&nbsp;</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
	</div>
	
	<!-- 备注 -->
	<div style="position: relative; top: 100px; left: 40px;">
		<div class="page-header">
			<h4>备注</h4>
		</div>

		<div class="remarkDiv" style="height: 60px;" @mouseenter="showBtn($event)" @mouseleave="hideBtn($event)" v-for="(remark, index) in remarks">
			<img :title="remark.editflag=='0'?remark.createby : remark.editby" src="../../image/user-thumbnail.png" style="width: 30px; height:30px;">
			<div style="position: relative; top: -40px; left: 40px;" >
				<h5>{{remark.notecontent}}</h5>
				<font color="gray">交易</font> <font color="gray">-</font> <b>{{tran.name}}</b>
				<small style="color: gray;" v-if="remark.editflag=='0'"> {{remark.createtime}} 由 {{remark.createby}} 创建</small>
				<small style="color: gray;" v-else> {{remark.edittime}} 由 {{remark.editby}} 编辑</small>
				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
					<a class="myHref" href="javascript:void(0);" @click="editRk(remark)"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)"></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="myHref" href="javascript:void(0);" @click="deleteRk(remark.id, index)"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;" @mouseenter="showred($event)" @mouseleave="showgray($event)"></span></a>
				</div>
			</div>
		</div>
		
		<div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
			<form role="form" style="position: relative;top: 10px; left: 10px;">
				<textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"  placeholder="添加备注..." @focus="showSub()" v-model="addRemark.notecontent"></textarea>
				<p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
					<button id="cancelBtn" type="button" class="btn btn-default" @click="hideSub()">取消</button>
					<button type="button" class="btn btn-primary" @click="addRk()">保存</button>
				</p>
			</form>
		</div>
	</div>
	
	<!-- 阶段历史 -->
	<div>
		<div style="position: relative; top: 100px; left: 40px;">
			<div class="page-header">
				<h4>阶段历史</h4>
			</div>
			<div style="position: relative;top: 0px;">
				<table id="activityTable" class="table table-hover" style="width: 900px;">
					<thead>
						<tr style="color: #B3B3B3;">
							<td>阶段</td>
							<td>金额</td>
							<td>可能性</td>
							<td>预计成交日期</td>
							<td>创建时间</td>
							<td>创建人</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="history in histories">
							<td>{{history.stage}}</td>
							<td>{{history.money}}</td>
							<td>{{history.possible}}</td>
							<td>{{history.expecteddate}}</td>
							<td>{{history.createtime}}</td>
							<td>{{history.createby}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
	
	<div style="height: 200px;"></div>
</div>
</body>
</html>