<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
	<link href="/jquery/bs_pagination/jquery.bs_pagination.min.css"/>
	<script type="text/javascript" src="/jquery/jquery-1.11.1-min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/jquery/bs_pagination/jquery.bs_pagination.min.js"></script>
	<script type="text/javascript" src="/jquery/bs_pagination/en.js"></script>
	<script type="text/javascript" src="/jquery/bs_typeahead/bootstrap3-typeahead.min.js"></script>
	<script type="text/javascript" src="../../jquery/vue.min.js"></script>
	<script type="text/javascript" src="../../jquery/axios.min.js"></script>
</head>
<body>
<script type="text/javascript">
	var url = "/tran";
	var tranId = location.search.split("=")[1];
	$(function(){
		var vue = new Vue({
			el : "#work_area",
			data : {
				//方法返回结果
				result : {},
				//用户集合
				users : [],
				//阶段
				stages : [],
				//类型
				transactionTypes : [],
				//来源
				sources : [],
				//交易信息
				tranMap : {},
				//当前交易
				tran : {},
				//可能性
				possible : "",
				//市场活动分页结果
				pageAct : {},
				//搜索市场活动
				searchAct : "",
				//市场活动分页信息
				actInfo : {
					start : 1,
					count : 5
				},
				//选择市场活动结果
				activity: {
					id : "",
					name : ""
				},
				//搜索联系人
				searchCt : "",
				//搜索联系人分页结果
				pageCt : {},
				//联系人分页信息
				ctInfo : {
					start : 1,
					count : 5
				},
				//选择联系人结果
				contact : {
					id : "",
				}
			},
			methods : {
				//查询初始化信息
				listMsg : function () {
					var uri = url + "/listMessage";
					var self = this;
					axios.get(uri).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.users = self.result.data.users;
							self.stages = self.result.data.stages;
							self.transactionTypes = self.result.data.transactionTypes;
							self.sources = self.result.data.sources;
						}
					})
				},
				//获取交易信息
				getTran : function () {
					var uri = url + "/getById";
					var data = "id=" + tranId;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.tranMap = self.result.data;
							self.tran = self.tranMap.tran;
							self.activity.name = self.tranMap.activity;
							self.contact.fullname = self.tranMap.contact;
							self.changePoss();
						}else{
							alert(self.result.msg)
						}
					})
				},
				//状态改变时改变几率
				changePoss : function () {
					var uri = url + "/getPoss";
					var data = "id=" + this.tran.stage;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.possible = self.result.data + "%";
						}else{
							alert(self.result.msg);
						}
					})
				},
				//取消
				quit : function () {
					if(!confirm("确认取消？")){
						return;
					}
					window.history.back();
				},
				//查询市场活动列表
				listAct : function (start, count) {
					var uri = url + "/listActivity";
					var data = "start=" + this.actInfo.start +
							"&count=" + this.actInfo.count +
							"&search=" + this.searchAct;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.pageAct = self.result.data;
							$("#findMarketActivity").modal("show");
							var total = self.pageAct.total;
							var totalPage = total % count == 0 ? total / count : parseInt(total / count) + 1;
							$("#activityPage").bs_pagination({
								currentPage: start,
								rowsPerPage: count,
								maxRowsPerPage: 20,
								totalPages: totalPage,
								totalRows: total,
								visiblePageLinks: 3,
								showRowsPerPage: true,
								showGoToPage: true,
								showRowsInfo: true,
								showRowsDefaultInfo: false,
								onChangePage: function (event, obj) {
									self.actInfo.start = obj.currentPage;
									self.actInfo.count = obj.rowsPerPage;
									self.listAct(obj.currentPage, obj.rowsPerPage);
								}
							});
						}else{
							alert(self.result)
						}
					})
				},
				//选择市场活动
				showAct : function () {
					if($(":radio[name=activity]:checked").size() == 0){
						alert("请选择市场活动");
						return;
					}
					var index = $(":radio[name=activity]:checked").val();
					this.activity = this.pageAct.rows[index];
					$("#findMarketActivity").modal("hide");
				},
				//查询联系人列表
				listCt : function (start, count) {
					var uri = url + "/listContact";
					var data = "start=" + this.ctInfo.start +
							"&count=" + this.ctInfo.count +
							"&search=" + this.searchCt;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							self.pageCt = self.result.data;
							$("#findContacts").modal("show");
							var total = self.pageCt.total;
							var totalPage = total % count == 0 ? total / count : parseInt(total / count) + 1;
							$("#contactPage").bs_pagination({
								currentPage: start,
								rowsPerPage: count,
								maxRowsPerPage: 20,
								totalPages: totalPage,
								totalRows: total,
								visiblePageLinks: 3,
								showRowsPerPage: true,
								showGoToPage: true,
								showRowsInfo: true,
								showRowsDefaultInfo: false,
								onChangePage: function (event, obj) {
									self.ctInfo.start = obj.currentPage;
									self.ctInfo.count = obj.rowsPerPage;
									self.listCt(obj.currentPage, obj.rowsPerPage);
								}
							});
						}else{
							alert(self.result)
						}
					})
				},
				showCt : function () {
					if($(":radio[name=contact]:checked").size() == 0){
						alert("请选择市场活动");
						return;
					}
					var index = $(":radio[name=contact]:checked").val();
					this.contact = this.pageCt.rows[index];
					$("#findContacts").modal("hide");
				},
				//提交更新
				update : function () {
					this.tran.customerid = $("#edit-accountName").val();
					this.tran.expecteddate = $("#edit-expectedClosingDate").val();
					this.tran.nextcontacttime = $("#create-nextContactTime").val();
					this.tran.activityid = this.activity.id;
					this.tran.contactsid = this.contact.id;
					var uri = url + "/update";
					var data = this.tran;
					var self = this;
					axios.post(uri, data).then(function (value) {
						self.result = value.data;
						if(self.result.status == 200){
							window.history.back();
						}else{
							alert(self.result.msg)
						}
					})
				}
			},
			mounted : function () {
				this.listMsg();
				this.getTran();
				$(".time").datetimepicker({
					minView: "month",
					language: "zh-CN",
					format: "yyyy-mm-dd",
					autoclose: true,
					todayBtn: true,
					pickerPosition: "top-left"
				});
				$(".time-bottom").datetimepicker({
					minView: "month",
					language: "zh-CN",
					format: "yyyy-mm-dd",
					autoclose: true,
					todayBtn: true,
					pickerPosition: "bottom-left"
				});
				$("#edit-accountName").typeahead({
					source: function (query, process) {
						$.get(url + "/listCustomer", { "name" : query}, function (obj) {
							process(obj.data);
						}, "json");
					},
					delay: 300//单位毫秒
				});
			}
		})
	});

</script>
<div id="work_area">
	<!-- 查找市场活动 -->
	<div class="modal fade" id="findMarketActivity" role="dialog">
		<div class="modal-dialog" role="document" style="width: 80%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">查找市场活动</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group" style="position: relative; top: 18%; left: 8px;">
						<form class="form-inline" role="form">
							<div class="form-group has-feedback">
								<input type="text" class="form-control" style="width: 300px;" placeholder="请输入市场活动名称，支持模糊查询" v-model="searchAct" @blur="listAct(actInfo.start, actInfo.count)">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</form>
					</div>
					<table id="activityTable3" class="table table-hover" style="width: 900px; position: relative;top: 10px;">
						<thead>
						<tr style="color: #B3B3B3;">
							<td></td>
							<td>名称</td>
							<td>开始日期</td>
							<td>结束日期</td>
							<td>所有者</td>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(activity, index) in pageAct.rows">
							<td><input type="radio" name="activity" :value="index"/></td>
							<td>{{activity.name}}</td>
							<td>{{activity.startdate}}}</td>
							<td>{{activity.enddate}}</td>
							<td>{{activity.owner}}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div id="activityPage"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" @click="showAct()">添加</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 查找联系人 -->
	<div class="modal fade" id="findContacts" role="dialog">
		<div class="modal-dialog" role="document" style="width: 80%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">查找联系人</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group" style="position: relative; top: 18%; left: 8px;">
						<form class="form-inline" role="form">
							<div class="form-group has-feedback">
								<input type="text" class="form-control" style="width: 300px;" placeholder="请输入联系人名称，支持模糊查询" v-model="searchCt" @blur="listCt(ctInfo.start, ctInfo.count)">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</form>
					</div>
					<table id="activityTable" class="table table-hover" style="width: 900px; position: relative;top: 10px;">
						<thead>
						<tr style="color: #B3B3B3;">
							<td></td>
							<td>名称</td>
							<td>邮箱</td>
							<td>手机</td>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(contact, index) in pageCt.rows">
							<td><input type="radio" name="contact" :value="index"/></td>
							<td>{{contact.fullname}}</td>
							<td>{{contact.email}}</td>
							<td>{{contact.mphone}}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div id="contactPage"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" @click="showCt()">添加</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div style="position:  relative; left: 30px;">
		<h3>更新交易</h3>
	  	<div style="position: relative; top: -40px; left: 70%;">
			<button type="button" class="btn btn-primary" @click="update()">更新</button>
			<button type="button" class="btn btn-default" @click="quit()">取消</button>
		</div>
		<hr style="position: relative; top: -40px;">
	</div>
	<form class="form-horizontal" role="form" style="position: relative; top: -30px;">
		<div class="form-group">
			<label for="edit-transactionOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
			<div class="col-sm-10" style="width: 300px;">
				<select class="form-control" id="edit-transactionOwner" v-model="tran.owner">
					<option v-for="user in users" :value="user.id">{{user.name}}</option>
				</select>
			</div>
			<label for="edit-amountOfMoney" class="col-sm-2 control-label">金额</label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" id="edit-amountOfMoney" value="5,000" v-model="tran.money">
			</div>
		</div>
		<div class="form-group">
			<label for="edit-transactionName" class="col-sm-2 control-label">名称<span style="font-size: 15px; color: red;">*</span></label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" id="edit-transactionName" v-model="tran.name">
			</div>
			<label for="edit-expectedClosingDate" class="col-sm-2 control-label">预计成交日期<span style="font-size: 15px; color: red;">*</span></label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control time-bottom" id="edit-expectedClosingDate" v-model="tran.expecteddate">
			</div>
		</div>
		<div class="form-group">
			<label for="edit-accountName" class="col-sm-2 control-label">客户名称<span style="font-size: 15px; color: red;">*</span></label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" id="edit-accountName" :value="tranMap.customer" placeholder="支持自动补全，输入客户不存在则新建">
			</div>
			<label for="edit-transactionStage" class="col-sm-2 control-label">阶段<span style="font-size: 15px; color: red;">*</span></label>
			<div class="col-sm-10" style="width: 300px;">
			  <select class="form-control" id="edit-transactionStage" v-model="tran.stage" @change="changePoss()">
				  <option v-for="stage in stages" :value="stage.id">{{stage.text}}</option>
			  </select>
			</div>
		</div>
		<div class="form-group">
			<label for="edit-transactionType" class="col-sm-2 control-label">类型</label>
			<div class="col-sm-10" style="width: 300px;">
				<select class="form-control" id="edit-transactionType" v-model="tran.type">
					<option v-for="type in transactionTypes" :value="type.id">{{type.text}}</option>
				</select>
			</div>
			<label for="edit-possibility" class="col-sm-2 control-label">可能性</label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" id="edit-possibility" :value="possible" readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="edit-clueSource" class="col-sm-2 control-label">来源</label>
			<div class="col-sm-10" style="width: 300px;">
				<select class="form-control" id="edit-clueSource" v-model="tran.source">
					<option v-for="source in sources" :value="source.id">{{source.text}}</option>
				</select>
			</div>
			<label for="edit-activitySrc" class="col-sm-2 control-label">市场活动源&nbsp;&nbsp;<a href="javascript:void(0);" @click="listAct(actInfo.start, actInfo.count)"><span class="glyphicon glyphicon-search"></span></a></label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" id="edit-activitySrc"  readonly v-model="activity.name">
			</div>
		</div>
		<div class="form-group">
			<label for="edit-contactsName" class="col-sm-2 control-label">联系人名称&nbsp;&nbsp;<a href="javascript:void(0);" @click="listCt(ctInfo.start, ctInfo.count)"><span class="glyphicon glyphicon-search"></span></a></label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" id="edit-contactsName"  readonly v-model="contact.fullname">
			</div>
		</div>
		<div class="form-group">
			<label for="create-describe" class="col-sm-2 control-label">描述</label>
			<div class="col-sm-10" style="width: 70%;">
				<textarea class="form-control" rows="3" id="create-describe" v-model="tran.description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="create-contactSummary" class="col-sm-2 control-label">联系纪要</label>
			<div class="col-sm-10" style="width: 70%;">
				<textarea class="form-control" rows="3" id="create-contactSummary" v-model="tran.contactsummary"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="create-nextContactTime" class="col-sm-2 control-label">下次联系时间</label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control time" id="create-nextContactTime" v-model="tran.nextcontacttime">
			</div>
		</div>
	</form>
</div>
</body>
</html>